.container-fluid{
        font-family: "Times New Roman", sans-serif;
}

.navbar {
    padding: 0.5rem 1rem;
    background-color: #dcd7f3;
    height: auto;
    min-height: 60px; 
    font-size: 1rem;
}

.button{
  background-color: rgb(15,79,163);
  border: none;
  color: white;
  padding: 0.25rem 1.2rem;
  font-size: 1rem;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem auto; 
}

thead{
    background-color: rgb(15, 7, 128);
    color:white;
}

th, td {
    padding: 0.75rem 1rem;
    text-align:center;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table, th, td {
    border: 1px solid #ccc; 
}

tbody tr:hover {background-color: rgb(123, 136, 165);}

/* Modal background */
.modal {
  display: none; /* hidden by default */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
  transition: 0.3s;
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  position: relative;
}

/* Close button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#myModel{
    font-family: 'Times New Roman', Times, serif;
}